<div class="container">
  <h1>hiverlune.net</h1>

  <div class="bs-docs-section">
    <div class="page-header">
      <h2>About me</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="icon">
          <img src="https://www.gravatar.com/avatar/8f7571eb815b4c6b2ef883b1c8ed97dd?s=256" alt="">
        </div>
      </div>
      <div class="col-sm-8">
        <p>
          <i class="fa fa-lg fa-fw fa-user" aria-hidden="true"></i> Mikazuki Fuyuno / みか
        </p>
        <p>
          <i class="fa fa-lg fa-fw fa-home" aria-hidden="true"></i> Kobe-shi Chuo-ku, Hyogo / Tokyo
        </p>
        <p>
          <i class="fa fa-lg fa-fw fa-envelope-o" aria-hidden="true"></i>
          <code>'mika~kokoiroworks.com'.gsub('~', '@')</code>
        </p>
      </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="page-header">
      <h2>Links</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <p>
          <i class="fa fa-lg fa-fw fa-twitter" aria-hidden="true"></i> Twitter <a href="https://twitter.com/MikazukiFuyuno"
            target="_blank">@MikazukiFuyuno</a>
        </p>
        <p>
          <i class="fa fa-lg fa-fw fa-pencil" aria-hidden="true"></i> はてなブログ <a href="http://mikazuki.hatenablog.jp/" target="_blank">みかづきメモ</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p>
          <i class="fa fa-lg fa-fw fa-users" aria-hidden="true"></i> List fueruwakame
        </p>
        <p>
          <i class="fa fa-lg fa-fw fa-tv" aria-hidden="true"></i> Annict <a href="https://annict.com/@Mikazuki" target="_blank">@Mikazuki</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p>
          <i class="fa fa-lg fa-fw fa-book" aria-hidden="true"></i> amakan <a href="https://amakan.net/@mikazuki" target="_blank">@mikazuki</a>
        </p>
      </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>Games</h2>
        </div>
        <section>
          <h4>アイドルマスター シンデレラガールズ スターライトステージ</h4>
          <div class="deresute">
            <img src="https://deresute.me/390366947/large">
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
